@page
@model LibraryAccounting.Pages.ClientPages.BookedBooksModel
@{
    ViewData["ClientPages/BookedBooks"] = "disabled";
}
<div class="container mt-3">
    <ul class="list-group">
        @foreach (var book in Model.BookingBooks)
        {
            <li class="list-group-item mb-2">
                <p>@book.Value.Title</p>
                @if (@book.Key.IsTransmitted)
                {
                    <p>Статус: забронировано, выдано</p>
                }
                else
                {
                    <p>Статус: забронировано, не выдано</p>
                    <form method="post">
                        <input type="hidden" name="idBooking" value="@book.Key.Id" />
                        <button type="submit" class="btn btn-dark booking-btn">Отменить бронировку</button>
                    </form>
                }
                <p>Дата бронировки: @book.Key.BookingDate</p>
            </li>
        }
    </ul>
</div>