﻿@page
@using LibraryAccounting.Domain.Model
@model IndexModel
@{
    ViewData["Title"] = "Authorization";
    ViewData["Index"] = "disabled";
}
<div class="row justify-content-center">
    <div class="col-5">
        <h1 class="display-8 text-center mt-3">Введите пароль и почту для входа в систему.</h1>
        <h3 class="display-8 text-center mt-3">@Model.Message</h3>
        <form method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="email" asp-for="@Model.Login.Email" class="form-control" placeholder="Введите email" />
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" asp-for="@Model.Login.Password" class="form-control" placeholder="Введите пароль" />
            </div>
            <button type="submit" class="btn btn-dark">Войти</button>
        </form>
    </div>
</div>
