@page
@model LibraryAccounting.Pages.LibrarianPages.BookFormModel
@{
    ViewData["LibrarianPages/BookForm"] = "disabled";
}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-5">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Название</label>
                    <input type="text" class="form-control" asp-for="@Model.Book.Title" />
                </div>
                <div class="form-group">
                    <label>Автор</label>
                    <select asp-for="@Model.Book.AuthorId" 
                            class="form-control" asp-items="Model.Authors">
                        <option value="0">Другое</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Жанр</label>
                    <select asp-for="@Model.Book.GenreId" 
                            class="form-control" asp-items="Model.Genres">
                        <option value="0">Другое</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Издатель</label>
                    <input type="text" class="form-control" asp-for="@Model.Book.Publisher" />
                </div>
                <div class="form-group">
                    <label>Обложка</label>
                    <input type="file" name="cover" class="form-control-file" />
                </div>
                <button type="submit" class="btn btn-dark">Отправить</button>
            </form>
        </div>
    </div>
</div>