@page
@model LibraryAccounting.Pages.LibrarianPages.BookedBooksModel
@{
    ViewData["LibrarianPages/BookedBooks"] = "disabled";
}
<div class="container mt-3">
    <ul class="list-group">
        @for (int i = 0; i < 6; i++)
        {
            <li class="list-group-item mb-2">
                <p>Алгоритмы. Руководство по разработке. Стивен Скиена</p>
                <p>Забронировал: Иван, почта Ivan@@gmail.com</p>
                <p>Статус: забронировано, не выдано</p>
                <p>Дата бронировки: 24.08.2021.</p>
                <a class="btn btn-dark booking-btn">Выдать</a>
            </li>
        }
        <li class="list-group-item mb-2">
            <p>Алгоритмы. Руководство по разработке. Стивен Скиена</p>
            <p>Забронировал: Иван, почта Ivan@@gmail.com</p>
            <p>Статус: забронировано, выдано</p>
            <p>Дата бронировки: 24.08.2021.</p>
            <a class="btn btn-dark booking-btn">Принять</a>
        </li>
    </ul>
</div>