@page
@model LibraryAccounting.Pages.LibrarianPages.TelegramBotModel
@{
}
<div class="container">
    <div class="row justify-content-center">
        <a class="btn btn-dark" asp-page-handler="Start">Начать прослушивание</a>
        <a class="btn btn-dark" asp-page-handler="Stop">Завершить прослушивание</a>
    </div>
</div>